<div class="container">
    <h2 class="text-center">Sign Up for Our Newsletter</h2>
    <form
        name="signUpForm"
        novalidate
        ng-submit="signUpCtrl.submit(signUpForm.$valid)">
        <!-- First Name -->
        <div
            class="form-group"
            ng-class="{'has-error': signUpForm.firstName.$touched && signUpForm.firstName.$invalid}">
            <label for="firstName">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                ng-model="signUpCtrl.user.firstName"
                required
                minlength="2" />
            <span
                ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
                First Name is required.
            </span>
            <span
                ng-if="signUpForm.firstName.$error.minlength && signUpForm.firstName.$touched">
                First Name must be at least 2 characters long.
            </span>
        </div>

        <!-- Last Name -->
        <div
            class="form-group"
            ng-class="{'has-error': signUpForm.lastName.$touched && signUpForm.lastName.$invalid}">
            <label for="lastName">Last Name</label>
            <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                ng-model="signUpCtrl.user.lastName"
                required
                minlength="2" />
            <span
                ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
                Last Name is required.
            </span>
            <span
                ng-if="signUpForm.lastName.$error.minlength && signUpForm.lastName.$touched">
                Last Name must be at least 2 characters long.
            </span>
        </div>

        <!-- Email -->
        <div
            class="form-group"
            ng-class="{'has-error': signUpForm.email.$touched && signUpForm.email.$invalid}">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                ng-model="signUpCtrl.user.email"
                required />
            <span
                ng-if="signUpForm.email.$error.required && signUpForm.email.$touched">
                Email is required.
            </span>
            <span
                ng-if="signUpForm.email.$error.email && signUpForm.email.$touched">
                Invalid email address. Format: handle@domain
            </span>
        </div>

        <!-- Phone Number -->
        <div
            class="form-group"
            ng-class="{'has-error': signUpForm.phone.$touched && signUpForm.phone.$invalid}">
            <label for="phone">Phone Number (Format: ###-###-####)</label>
            <input
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                ng-model="signUpCtrl.user.phone"
                required
                pattern="(\d{3})-(\d{3})-(\d{4})" />
            <span
                ng-if="signUpForm.phone.$error.required && signUpForm.phone.$touched">
                Phone Number is required.
            </span>
            <span
                ng-if="signUpForm.phone.$error.pattern && signUpForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
        </div>

        <!-- Favorite Dish -->
        <div
            class="form-group"
            ng-class="{'has-error': signUpForm.favoriteDish.$touched && signUpForm.favoriteDish.$invalid || !signUpCtrl.menuItemExists}">
            <label for="favoriteDish">Favorite Dish (Menu Number)</label>
            <input
                type="text"
                class="form-control"
                id="favoriteDish"
                name="favoriteDish"
                ng-model="signUpCtrl.user.favoriteDish"
                required
                ng-blur="signUpCtrl.validateFavoriteDish()" />
            <span
                ng-if="signUpForm.favoriteDish.$error.required && signUpForm.favoriteDish.$touched">
                Favorite Dish is required.
            </span>
            <span
                ng-if="!signUpCtrl.menuItemExists"
                class="text-danger">
                No such menu number exists.
            </span>
        </div>

        <!-- Submit Button -->
        <button
            class="btn btn-primary"
            ng-disabled="signUpForm.$invalid">
            Sign Up
        </button>
    </form>

    <!-- Success Message -->
    <div
        ng-if="signUpCtrl.infoSaved"
        class="text-success">
        Your information has been saved.
    </div>
</div>
